<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to Geekhouse!</h1>
        <ul class="list-group">
        {% for station in stations %}
            <li class="list-group-item">
                <a href="{{ url_for('station', station_id=station.id) }}">{{ station.name }}</a>
                <span class="badge badge-primary badge-pill">${{ station.price_per_hour }}/hr</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
